/*
 *= require lib/magnific
 */

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 900px;
  margin: 20px auto;
}

tbody > tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}